In [11]:
import pandas as pd
import numpy as np
import json

In [19]:
f = open('C:/Users/91903/Downloads/data.json')
data = json.load(f)
d = data['results']
df = pd.DataFrame(d)
df = pd.concat([df.drop(['openfda'],axis = 1) , df['openfda'].apply(pd.Series,dtype=object)],axis=1)
df = df[['brand_name','adverse_reactions_table']]
df = df.dropna()
df

,brand_name,adverse_reactions_table
29,[Metoprolol Succinate],"[<table ID=""ID885"" width=""99%""><caption>Advers..."
36,[Amlodipine and Olmesartan Medoxomil],"[<table cellspacing=""0"" cellpadding=""0"" border..."
38,[Viagra],"[<table width=""75%""><caption>Table 1: Adverse ..."
40,[LETROZOLE],"[<table cellspacing=""0"" cellpadding=""0""><tbody..."
42,[TENOFOVIR DISOPROXIL FUMARATE],"[<table ID=""ID373"" width=""89%"" styleCode=""Noau..."
...,...,...
2212,[Adderall XR],"[<table width=""65%""><caption>Table 1 Adverse R..."
2215,[Losartan Potassium and Hydrochlorothiazide],"[<table ID=""_RefID71"" width=""100%""><caption>Ta..."
2216,[Amlodipine besylate and Olmesartan medoxomil],"[<table cellspacing=""0"" cellpadding=""0"" border..."
2217,[fluticasone propionate and salmeterol],"[<table width=""800px"" cellspacing=""0"" cellpadd..."
2218,[Yosprala],"[<table width=""60%"" ID=""table1""><caption>Table..."

In [24]:
arr = df.to_numpy()
len(arr)

509

In [38]:
lists_of_tables=[]
for i in range(10):
    
    table_MN = pd.read_html(arr[i][1][0])
    print(f'Total tables: {len(table_MN)}')
    df1 = table_MN[0]
    df1.insert(loc=0, column='brand_name', value=arr[i][0][0])
    #df1['brand_name'] = arr[i][0][0]
    lists_of_tables.append(df1)
len(lists_of_tables)

Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1
Total tables: 1

10

In [39]:
pd.concat(lists_of_tables).to_csv('openfda aadverreactions.csv')

In [8]:
df = table_MN[0]
df.head()

,0,1,2,3,4,5,6
0,Adverse Event,Fluticasone Propionate and Salmeterol Inhalati...,Fluticasone Propionate and Salmeterol Inhalati...,FluticasonePropionate100 mcg(n = 90)%,FluticasonePropionate250 mcg(n = 84)%,Salmeterol50 mcg(n = 180)%,Placebo(n = 175)%
1,"Ear, nose, and throat",NaN,NaN,NaN,NaN,NaN,NaN
2,Upper respiratory tract infection,27,21,29,25,19,14
3,Pharyngitis,13,10,7,12,8,6
4,Upper respiratory inflammation,7,6,7,8,8,5